<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<style>
.footer {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  overflow: visible;
  color:#FFFFFF;
  font-weight: bold;
  height: 2rem;
  background-color:#000000;
}	
</style>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>*** Haris Electrical AI ***</title>
</head>

<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">*** Haris Electrical AI ***</a>
    </div>
    <ul class="nav navbar-nav">
    <li class="active"><a href="{{ url_for('MainApplicaion') }}">Home</a></li>
      <li ><a href="{{ url_for('YourOwnConsumption') }}">Your Area Consumption<span class="caret"></span></a></li>
	   <li><a href="{{ url_for('YourAppliances') }}">Your Appliances Consupmtion <span class="caret"></span></a></li>
	     <li><a href="{{ url_for('timeSeriesAnalysis') }}">TimeSeries Analysis <span class="caret"></span></a></li>
		 <li><a href="{{ url_for('EnergySaving') }}">Energy Saving <span class="caret"></span></a></li>
		 <li><a href="{{ url_for('CheckYourStatus') }}">Check Your Status <span class="caret"></span></a></li>
		 <li><a href="{{ url_for('publicDataAnalysis') }}">Report <span class="caret"></span></a></li>
    </ul>
        
    
  </div>
</nav>

<div align="center"><img  class="img-responsive" src="../static/banner.jpg"    /></div>
          
    <div class="container">
  
<h1>Mid Night and Day Consumption</h1>	
<p align="center"><img src="../static/midnight.png" class="img-responsive" /></p>
<h1>Appliances Consumption</h1>
<p align="center"><img src="../static/apliances.png" class="img-responsive" /></p>
<H1>Monthly Consumption</H1>
<p align="center"><img src="../static/yourdailyconsumption.png" class="img-responsive" /></p>
<br/>

</div>

<footer class="footer">
<div class="container">
<div class="text-center"> 2020 Copyright &copy;  The Haris Eectrical AI </div>
</div>
</footer>
<script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
